@import url("https://fonts.googleapis.com/css2?family=Karla:wght@200;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap");

:root {
  --bg-color: hsl(0deg 0% 100%);
  --typewriterSpeed: 6s;
  --typewriterCharacters: 26;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  font-family: "Karla", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  max-width: 90%;
  margin-right: auto;
  margin-left: auto;
  padding: 1rem;
}

article h1 {
  margin: 1rem 0;
}

ul li {
  list-style-type: none;
}

/* section id */
#Home,
#About,
#Contact,
#Blog {
  height: 100vh;
}

/* animation title */
.title {
  font-size: clamp(1rem, 3vw + 1rem, 4rem);
  position: relative;
  font-family: "Source Code Pro", monospace;
  position: relative;
  width: max-content;
}

@media (max-width: 600px) {
  .title {
    font-size: 16px;
    position: relative;
    margin-left: 2.5rem;
    font-family: "Source Code Pro", monospace;
    position: relative;
    width: max-content;
  }
}

.title::before,
.title::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.title::before {
  background: var(--bg-color);
  animation: typewriter var(--typewriterSpeed)
    steps(var(--typewriterCharacters)) 1s forwards;
}

.title::after {
  width: 0.125em;
  background: black;
  animation: typewriter var(--typewriterSpeed)
      steps(var(--typewriterCharacters)) 1s forwards,
    blink 850ms steps(var(--typewriterCharacters)) infinite;
}

.subtitle {
  color: hsl(0 0% 0% / 0.7);
  font-size: 2rem;
  font-weight: 400;
  opacity: 0;
  transform: translateY(3rem);
  animation: subtitleFadeUp 2s ease calc(var(--typewriterSpeed) + 1s) forwards;
}

@keyframes typewriter {
  to {
    left: 100%;
  }
}

@keyframes blink {
  to {
    background: transparent;
  }
}

@keyframes subtitleFadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
